* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* defautf */
}
.hidden {
  display: none !important;
}
body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

.header {
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  /* space between every element with exact same between */
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

@media (max-width: 1000px) {
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Sono";
  color: #fafaf9;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: -1px;
  border-radius: 16px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  background-color: #44403c;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 100px;
}
.vote-buttons {
  display: flex;
  gap: 8px;
  margin-left: auto;
  flex-shrink: 0;
}
.vote-buttons button {
  border: none;
  background-color: #57534e;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.vote-buttons button:hover {
  background-color: #292524;
}

ul {
  list-style: none;
}
/* centering the whole page */
.container {
  max-width: 1500px;

  margin: 0 auto;
}

.logo img {
  width: 68px;
  height: 68px;
}

/* links */
.source,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

/* when the mouse is over the link */

.source:active,
.source:hover {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  transition: 0.3s;
  border-radius: 100px;
  cursor: pointer;
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

.category {
  margin-bottom: 16px;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.fact-form input,
.fact-form select {
  width: 200px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

.fact-form input:first-child {
  flex-grow: 1;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    gap: 12 px;
  }
  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-top: 24px;
}
